@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    color:greenyellow;
    background-color: hotpink;
    font-family: 'Lobster';
}
ol{
    color: rgb(23, 250, 105);
    font-weight: bold;
}
ul{
    color: rgba(23, 250, 105, 0.5);
    background-color: gray;
    padding: 10px;
}
a{
    width: 200%;
}
a:link{color: indigo;}
a:visited{color:goldenrod;}